@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

*{margin: 0px; padding: 0px}

body{
  background:#2c3e50;
  font-family: 'Open Sans', sans-serif;
}

h1{
  text-align: center;
  margin-top: 3em;
}

h1, button{
  color:#fff;
}

p{
  color:#f7f722;
  text-align: center;
  margin-top: 1em;
  font-size: 4em;
}

a{
   text-decoration:none;
   color:#fff;
}

a:hover{
   color:#2ecc71;
}

.main{
  width: 100%;
  text-align: center;
}

.button-one{
  text-align: center;
  margin-top: 3em;
  cursor: pointer;
  font-size:24px;
}

/*Button One*/
.button-one {
  padding:20px 60px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

.button-one:hover{
  background-color: #2ecc71;
}

.button-one:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}
